<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= gator.name %>'s Info</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"\>

</head>
<body>
    <div class="container mt-3">
        <a href="/">Home</a>
        <h1 class="display-4">Gator Info</h1>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Name: <%= gator.name %></li>
            <li class="list-group-item">Age: <%= gator.age %></li>
            <li class="list-group-item">Length: <%= gator.length %> ft</li>
            <li class="list-group-item">Weight: <%= gator.weight %> lbs</li>
        </ul>
        <a href="/gators/edit/<%= gator._id %>" class="btn btn-primary mt-3">Edit</a>
        <form action="/gators/destroy/<%= gator._id %>" method="post" class="mt-2">
            <button type="submit" class="btn btn-danger">Delete Gator</button>
        </form>
    </div>
</body>
</html>